@import "utils.scss";

/***** Cart *****/


#containerCart { 
    #containerCartEmpty {
        h2 {
            text-align: center;
        }
    }
    .containerProductCart {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }
    img {
        width: 200px;
        margin: auto;
    }
    p {
        border: solid 1px #f3e9f1;
        text-align: center;
    }
    p, #totalOrder {
        font-size: 22px;
    }
    #hidden {
        visibility: hidden;
    }
    #validate {
        visibility: hidden;
    }
    .deleteBtn {
        padding: 10px;
        border-radius: 20px;
        border: none;
        background: rgb(250, 77, 77);
        color: white;
    }
    #totalOrder {
       position: absolute;
       right: 50px;
    }
}
#clearCartBtn:hover, .deleteBtn:hover, #validateOrderBtn:hover {
    box-shadow: -1px -1px 8px rgba(168, 167, 167, 0.8);
    cursor: pointer;
}
#clearCartBtn {
    padding: 10px;
    display: block;
    margin: auto;
    border-radius: 20px;
    font-size: 17px;
    margin-bottom: 2rem;
    background: rgb(250, 77, 77);
    border: none;
    color: white;
    margin-top: 2rem;
}

/***** Formulaire *****/

#containerForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
        input, label, span {
            width: 300px;
            display: block;
            margin: auto;
            padding: 5px;
            font-size: 16px;
        }
        #validateOrderBtn {
            background: #8f5bfe;
            border: none;
            border-radius: 40px;
            font-size: 16px;
            padding: 15px!important;
            color: white;
            text-align: center;
        }
}
    
    
   




